body{
    background-color: lightyellow;
}

#select {
    z-index: 600;
    position: relative;
   

}
.select{
    text-align: center;
    color: white;
}


#select > .select_background{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 0;
    right: 0;
    box-sizing: border-box;
    top: 0;
    bottom: 0;
    background-color: #4267b2;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;

}
.select_background{
    z-index: -1;
    
}

.down{
    margin-top: 8rem;
}
header{
    background-color: #4267b2;
}

/* #Quiz {
    margin-top: 60px;
    display: grid;
    
} */

/* #GST121, #GST122, #GST123, #GST221 {
    display: grid;
   
    
} */


li {
    padding: 5px;
    margin-right: 35px;
}

ul{
    list-style: none;
}
h3{
    font-weight: 500;
    font-size: 20px;
}

button{
margin-bottom: 10px;
}
button:hover{
    background-color: #4267b2;
}
@media (max-width: 600px) {
    #GST121, #GST122, #GST123, #GST221 {
        
        max-width: 100px;
        width: 100%;
        margin: 0 auto;
    } 
}

#about .about-col {
    
    border-radius: 10px;
    padding: 1px;
    background: lightsteelblue;
    
  }
  
 .section-header{
    background: lightsteelblue;
   border-radius: 4px;
}
.section-header h3 {
    padding: 10px;
}

