  
        @import url('https://themes.googleusercontent.com/fonts/css?kit=fND5XPYKrF2tQDwwfWZJIzF1cKUhszjoajnOYVFiWwS4s32I7Hx_V2ng6ZkSmCTeW1dFrxNXBMgKCKucmGZUnA');
        .lst-kix_93lefuu4nybi-1>li:before {
            content: "\0025cb  "
        }
        
        .lst-kix_93lefuu4nybi-0>li:before {
            content: "\0025cf  "
        }
        
        .lst-kix_93lefuu4nybi-3>li:before {
            content: "\0025cf  "
        }
        
        .lst-kix_93lefuu4nybi-5>li:before {
            content: "\0025a0  "
        }
        
        ul.lst-kix_jr5zd4blzw8o-7 {
            list-style-type: none
        }
        
        ul.lst-kix_jr5zd4blzw8o-6 {
            list-style-type: none
        }
        
        ul.lst-kix_jr5zd4blzw8o-8 {
            list-style-type: none
        }
        
        .lst-kix_93lefuu4nybi-2>li:before {
            content: "\0025a0  "
        }
        
        .lst-kix_93lefuu4nybi-6>li:before {
            content: "\0025cf  "
        }
        
        .lst-kix_93lefuu4nybi-4>li:before {
            content: "\0025cb  "
        }
        
        ul.lst-kix_jr5zd4blzw8o-3 {
            list-style-type: none
        }
        
        ul.lst-kix_jr5zd4blzw8o-2 {
            list-style-type: none
        }
        
        ul.lst-kix_jr5zd4blzw8o-5 {
            list-style-type: none
        }
        
        ul.lst-kix_jr5zd4blzw8o-4 {
            list-style-type: none
        }
        
        .lst-kix_93lefuu4nybi-7>li:before {
            content: "\0025cb  "
        }
        
        ul.lst-kix_jr5zd4blzw8o-1 {
            list-style-type: none
        }
        
        ul.lst-kix_jr5zd4blzw8o-0 {
            list-style-type: none
        }
        
        .lst-kix_93lefuu4nybi-8>li:before {
            content: "\0025a0  "
        }
        
        .lst-kix_jr5zd4blzw8o-7>li:before {
            content: "\0025cb  "
        }
        
        ul.lst-kix_g6pmg0xyszru-3 {
            list-style-type: none
        }
        
        ul.lst-kix_g6pmg0xyszru-4 {
            list-style-type: none
        }
        
        ul.lst-kix_u8qyevnq6b8z-8 {
            list-style-type: none
        }
        
        ul.lst-kix_g6pmg0xyszru-1 {
            list-style-type: none
        }
        
        ul.lst-kix_g6pmg0xyszru-2 {
            list-style-type: none
        }
        
        ul.lst-kix_g6pmg0xyszru-7 {
            list-style-type: none
        }
        
        ul.lst-kix_u8qyevnq6b8z-5 {
            list-style-type: none
        }
        
        ul.lst-kix_g6pmg0xyszru-8 {
            list-style-type: none
        }
        
        ul.lst-kix_u8qyevnq6b8z-4 {
            list-style-type: none
        }
        
        .lst-kix_jr5zd4blzw8o-4>li:before {
            content: "\0025cb  "
        }
        
        .lst-kix_jr5zd4blzw8o-8>li:before {
            content: "\0025a0  "
        }
        
        ul.lst-kix_g6pmg0xyszru-5 {
            list-style-type: none
        }
        
        ul.lst-kix_u8qyevnq6b8z-7 {
            list-style-type: none
        }
        
        ul.lst-kix_g6pmg0xyszru-6 {
            list-style-type: none
        }
        
        ul.lst-kix_u8qyevnq6b8z-6 {
            list-style-type: none
        }
        
        .lst-kix_jr5zd4blzw8o-3>li:before {
            content: "\0025cf  "
        }
        
        .lst-kix_jr5zd4blzw8o-1>li:before {
            content: "\0025cb  "
        }
        
        .lst-kix_jr5zd4blzw8o-2>li:before {
            content: "\0025a0  "
        }
        
        ul.lst-kix_jqb5klxp5pzh-7 {
            list-style-type: none
        }
        
        ul.lst-kix_jqb5klxp5pzh-8 {
            list-style-type: none
        }
        
        .lst-kix_y134e865wd2y-4>li:before {
            content: "\0025cb  "
        }
        
        .lst-kix_y134e865wd2y-5>li:before {
            content: "\0025a0  "
        }
        
        ul.lst-kix_jqb5klxp5pzh-5 {
            list-style-type: none
        }
        
        ul.lst-kix_jqb5klxp5pzh-6 {
            list-style-type: none
        }
        
        ul.lst-kix_u8qyevnq6b8z-1 {
            list-style-type: none
        }
        
        .lst-kix_y134e865wd2y-8>li:before {
            content: "\0025a0  "
        }
        
        ul.lst-kix_u8qyevnq6b8z-0 {
            list-style-type: none
        }
        
        ul.lst-kix_u8qyevnq6b8z-3 {
            list-style-type: none
        }
        
        ul.lst-kix_u8qyevnq6b8z-2 {
            list-style-type: none
        }
        
        .lst-kix_jr5zd4blzw8o-5>li:before {
            content: "\0025a0  "
        }
        
        .lst-kix_y134e865wd2y-6>li:before {
            content: "\0025cf  "
        }
        
        .lst-kix_y134e865wd2y-7>li:before {
            content: "\0025cb  "
        }
        
        .lst-kix_jr5zd4blzw8o-6>li:before {
            content: "\0025cf  "
        }
        
        ul.lst-kix_jqb5klxp5pzh-0 {
            list-style-type: none
        }
        
        .lst-kix_y134e865wd2y-1>li:before {
            content: "\0025cb  "
        }
        
        .lst-kix_n0y2tgckp6wm-1>li:before {
            content: "\0025cb  "
        }
        
        ul.lst-kix_jqb5klxp5pzh-3 {
            list-style-type: none
        }
        
        ul.lst-kix_jqb5klxp5pzh-4 {
            list-style-type: none
        }
        
        .lst-kix_y134e865wd2y-2>li:before {
            content: "\0025a0  "
        }
        
        .lst-kix_y134e865wd2y-3>li:before {
            content: "\0025cf  "
        }
        
        .lst-kix_n0y2tgckp6wm-0>li:before {
            content: "\0025cf  "
        }
        
        ul.lst-kix_jqb5klxp5pzh-1 {
            list-style-type: none
        }
        
        ul.lst-kix_jqb5klxp5pzh-2 {
            list-style-type: none
        }
        
        .lst-kix_n0y2tgckp6wm-3>li:before {
            content: "\0025cf  "
        }
        
        .lst-kix_jr5zd4blzw8o-0>li:before {
            content: "\0025cf  "
        }
        
        .lst-kix_n0y2tgckp6wm-2>li:before {
            content: "\0025a0  "
        }
        
        .lst-kix_n0y2tgckp6wm-6>li:before {
            content: "\0025cf  "
        }
        
        .lst-kix_y134e865wd2y-0>li:before {
            content: "\0025cf  "
        }
        
        .lst-kix_n0y2tgckp6wm-5>li:before {
            content: "\0025a0  "
        }
        
        ul.lst-kix_g6pmg0xyszru-0 {
            list-style-type: none
        }
        
        .lst-kix_n0y2tgckp6wm-4>li:before {
            content: "\0025cb  "
        }
        
        .lst-kix_jqb5klxp5pzh-2>li:before {
            content: "\0025a0  "
        }
        
        .lst-kix_jqb5klxp5pzh-0>li:before {
            content: "\0025cf  "
        }
        
        .lst-kix_jqb5klxp5pzh-4>li:before {
            content: "\0025cb  "
        }
        
        .lst-kix_jqb5klxp5pzh-6>li:before {
            content: "\0025cf  "
        }
        
        .lst-kix_n0y2tgckp6wm-8>li:before {
            content: "\0025a0  "
        }
        
        .lst-kix_9cj84dkr6l82-8>li:before {
            content: "\0025a0  "
        }
        
        .lst-kix_9cj84dkr6l82-6>li:before {
            content: "\0025cf  "
        }
        
        ul.lst-kix_9cj84dkr6l82-8 {
            list-style-type: none
        }
        
        ul.lst-kix_9cj84dkr6l82-7 {
            list-style-type: none
        }
        
        ul.lst-kix_9cj84dkr6l82-6 {
            list-style-type: none
        }
        
        ul.lst-kix_9cj84dkr6l82-5 {
            list-style-type: none
        }
        
        ul.lst-kix_9cj84dkr6l82-4 {
            list-style-type: none
        }
        
        ul.lst-kix_9cj84dkr6l82-3 {
            list-style-type: none
        }
        
        ul.lst-kix_9cj84dkr6l82-2 {
            list-style-type: none
        }
        
        .lst-kix_xi87yt4r580-8>li:before {
            content: "\0025a0  "
        }
        
        .lst-kix_oc2qtkhaobz5-1>li:before {
            content: "\0025cb  "
        }
        
        .lst-kix_oc2qtkhaobz5-5>li:before {
            content: "\0025a0  "
        }
        
        .lst-kix_oc2qtkhaobz5-3>li:before {
            content: "\0025cf  "
        }
        
        .lst-kix_oc2qtkhaobz5-7>li:before {
            content: "\0025cb  "
        }
        
        .lst-kix_xi87yt4r580-4>li:before {
            content: "\0025cb  "
        }
        
        .lst-kix_xi87yt4r580-6>li:before {
            content: "\0025cf  "
        }
        
        .lst-kix_vd10u5vwle1-1>li:before {
            content: "\0025cb  "
        }
        
        ul.lst-kix_y134e865wd2y-1 {
            list-style-type: none
        }
        
        ul.lst-kix_y134e865wd2y-0 {
            list-style-type: none
        }
        
        .lst-kix_g6pmg0xyszru-6>li:before {
            content: "\0025cf  "
        }
        
        .lst-kix_nnmcgjk4xlmi-0>li:before {
            content: "-  "
        }
        
        ul.lst-kix_y134e865wd2y-8 {
            list-style-type: none
        }
        
        ul.lst-kix_y134e865wd2y-7 {
            list-style-type: none
        }
        
        ul.lst-kix_y134e865wd2y-6 {
            list-style-type: none
        }
        
        .lst-kix_g6pmg0xyszru-4>li:before {
            content: "\0025cb  "
        }
        
        .lst-kix_g6pmg0xyszru-8>li:before {
            content: "\0025a0  "
        }
        
        ul.lst-kix_y134e865wd2y-5 {
            list-style-type: none
        }
        
        ul.lst-kix_y134e865wd2y-4 {
            list-style-type: none
        }
        
        ul.lst-kix_y134e865wd2y-3 {
            list-style-type: none
        }
        
        ul.lst-kix_y134e865wd2y-2 {
            list-style-type: none
        }
        
        .lst-kix_nnmcgjk4xlmi-4>li:before {
            content: "-  "
        }
        
        ul.lst-kix_xi87yt4r580-0 {
            list-style-type: none
        }
        
        .lst-kix_vd10u5vwle1-7>li:before {
            content: "\0025cb  "
        }
        
        .lst-kix_nnmcgjk4xlmi-2>li:before {
            content: "-  "
        }
        
        ul.lst-kix_xi87yt4r580-3 {
            list-style-type: none
        }
        
        ul.lst-kix_xi87yt4r580-4 {
            list-style-type: none
        }
        
        ul.lst-kix_xi87yt4r580-1 {
            list-style-type: none
        }
        
        ul.lst-kix_xi87yt4r580-2 {
            list-style-type: none
        }
        
        .lst-kix_nnmcgjk4xlmi-8>li:before {
            content: "-  "
        }
        
        ul.lst-kix_xi87yt4r580-7 {
            list-style-type: none
        }
        
        ul.lst-kix_xi87yt4r580-8 {
            list-style-type: none
        }
        
        ul.lst-kix_xi87yt4r580-5 {
            list-style-type: none
        }
        
        .lst-kix_vd10u5vwle1-3>li:before {
            content: "\0025cf  "
        }
        
        .lst-kix_vd10u5vwle1-5>li:before {
            content: "\0025a0  "
        }
        
        ul.lst-kix_xi87yt4r580-6 {
            list-style-type: none
        }
        
        .lst-kix_g6pmg0xyszru-0>li:before {
            content: "\0025cf  "
        }
        
        .lst-kix_g6pmg0xyszru-2>li:before {
            content: "\0025a0  "
        }
        
        .lst-kix_nnmcgjk4xlmi-6>li:before {
            content: "-  "
        }
        
        .lst-kix_mc9cyyr48osa-8>li:before {
            content: "-  "
        }
        
        .lst-kix_mc9cyyr48osa-7>li:before {
            content: "-  "
        }
        
        .lst-kix_mc9cyyr48osa-4>li:before {
            content: "-  "
        }
        
        .lst-kix_mc9cyyr48osa-6>li:before {
            content: "-  "
        }
        
        .lst-kix_mc9cyyr48osa-5>li:before {
            content: "-  "
        }
        
        .lst-kix_mc9cyyr48osa-0>li:before {
            content: "-  "
        }
        
        .lst-kix_mc9cyyr48osa-2>li:before {
            content: "-  "
        }
        
        ul.lst-kix_93lefuu4nybi-6 {
            list-style-type: none
        }
        
        ul.lst-kix_93lefuu4nybi-7 {
            list-style-type: none
        }
        
        ul.lst-kix_93lefuu4nybi-8 {
            list-style-type: none
        }
        
        .lst-kix_mc9cyyr48osa-3>li:before {
            content: "-  "
        }
        
        ul.lst-kix_93lefuu4nybi-2 {
            list-style-type: none
        }
        
        .lst-kix_499osa7qbd7v-7>li:before {
            content: "-  "
        }
        
        .lst-kix_499osa7qbd7v-8>li:before {
            content: "-  "
        }
        
        ul.lst-kix_93lefuu4nybi-3 {
            list-style-type: none
        }
        
        ul.lst-kix_93lefuu4nybi-4 {
            list-style-type: none
        }
        
        ul.lst-kix_93lefuu4nybi-5 {
            list-style-type: none
        }
        
        ul.lst-kix_93lefuu4nybi-0 {
            list-style-type: none
        }
        
        .lst-kix_mc9cyyr48osa-1>li:before {
            content: "-  "
        }
        
        ul.lst-kix_93lefuu4nybi-1 {
            list-style-type: none
        }
        
        ul.lst-kix_oc2qtkhaobz5-8 {
            list-style-type: none
        }
        
        ul.lst-kix_oc2qtkhaobz5-2 {
            list-style-type: none
        }
        
        ul.lst-kix_oc2qtkhaobz5-3 {
            list-style-type: none
        }
        
        ul.lst-kix_oc2qtkhaobz5-0 {
            list-style-type: none
        }
        
        ul.lst-kix_oc2qtkhaobz5-1 {
            list-style-type: none
        }
        
        ul.lst-kix_oc2qtkhaobz5-6 {
            list-style-type: none
        }
        
        ul.lst-kix_oc2qtkhaobz5-7 {
            list-style-type: none
        }
        
        ul.lst-kix_oc2qtkhaobz5-4 {
            list-style-type: none
        }
        
        ul.lst-kix_oc2qtkhaobz5-5 {
            list-style-type: none
        }
        
        .lst-kix_u8qyevnq6b8z-8>li:before {
            content: "\0025a0  "
        }
        
        ul.lst-kix_nnmcgjk4xlmi-8 {
            list-style-type: none
        }
        
        ul.lst-kix_nnmcgjk4xlmi-7 {
            list-style-type: none
        }
        
        .lst-kix_u8qyevnq6b8z-7>li:before {
            content: "\0025cb  "
        }
        
        ul.lst-kix_nnmcgjk4xlmi-4 {
            list-style-type: none
        }
        
        ul.lst-kix_nnmcgjk4xlmi-3 {
            list-style-type: none
        }
        
        ul.lst-kix_nnmcgjk4xlmi-6 {
            list-style-type: none
        }
        
        ul.lst-kix_nnmcgjk4xlmi-5 {
            list-style-type: none
        }
        
        ul.lst-kix_nnmcgjk4xlmi-0 {
            list-style-type: none
        }
        
        ul.lst-kix_nnmcgjk4xlmi-2 {
            list-style-type: none
        }
        
        .lst-kix_u8qyevnq6b8z-2>li:before {
            content: "\0025a0  "
        }
        
        ul.lst-kix_nnmcgjk4xlmi-1 {
            list-style-type: none
        }
        
        .lst-kix_xi87yt4r580-2>li:before {
            content: "\0025a0  "
        }
        
        .lst-kix_u8qyevnq6b8z-1>li:before {
            content: "\0025cb  "
        }
        
        .lst-kix_xi87yt4r580-1>li:before {
            content: "\0025cb  "
        }
        
        .lst-kix_u8qyevnq6b8z-0>li:before {
            content: "\0025cf  "
        }
        
        .lst-kix_xi87yt4r580-0>li:before {
            content: "\0025cf  "
        }
        
        ul.lst-kix_9cj84dkr6l82-1 {
            list-style-type: none
        }
        
        .lst-kix_499osa7qbd7v-4>li:before {
            content: "-  "
        }
        
        .lst-kix_9cj84dkr6l82-0>li:before {
            content: "\0025cf  "
        }
        
        ul.lst-kix_9cj84dkr6l82-0 {
            list-style-type: none
        }
        
        .lst-kix_9cj84dkr6l82-1>li:before {
            content: "\0025cb  "
        }
        
        .lst-kix_499osa7qbd7v-3>li:before {
            content: "-  "
        }
        
        .lst-kix_499osa7qbd7v-5>li:before {
            content: "-  "
        }
        
        .lst-kix_499osa7qbd7v-2>li:before {
            content: "-  "
        }
        
        .lst-kix_9cj84dkr6l82-2>li:before {
            content: "\0025a0  "
        }
        
        .lst-kix_9cj84dkr6l82-3>li:before {
            content: "\0025cf  "
        }
        
        .lst-kix_499osa7qbd7v-6>li:before {
            content: "-  "
        }
        
        .lst-kix_9cj84dkr6l82-4>li:before {
            content: "\0025cb  "
        }
        
        .lst-kix_9cj84dkr6l82-5>li:before {
            content: "\0025a0  "
        }
        
        ul.lst-kix_499osa7qbd7v-1 {
            list-style-type: none
        }
        
        ul.lst-kix_499osa7qbd7v-2 {
            list-style-type: none
        }
        
        ul.lst-kix_499osa7qbd7v-3 {
            list-style-type: none
        }
        
        ul.lst-kix_499osa7qbd7v-4 {
            list-style-type: none
        }
        
        .lst-kix_u8qyevnq6b8z-3>li:before {
            content: "\0025cf  "
        }
        
        .lst-kix_jqb5klxp5pzh-8>li:before {
            content: "\0025a0  "
        }
        
        .lst-kix_u8qyevnq6b8z-4>li:before {
            content: "\0025cb  "
        }
        
        ul.lst-kix_499osa7qbd7v-0 {
            list-style-type: none
        }
        
        .lst-kix_499osa7qbd7v-0>li:before {
            content: "-  "
        }
        
        .lst-kix_u8qyevnq6b8z-5>li:before {
            content: "\0025a0  "
        }
        
        .lst-kix_499osa7qbd7v-1>li:before {
            content: "-  "
        }
        
        ul.lst-kix_499osa7qbd7v-5 {
            list-style-type: none
        }
        
        ul.lst-kix_499osa7qbd7v-6 {
            list-style-type: none
        }
        
        ul.lst-kix_499osa7qbd7v-7 {
            list-style-type: none
        }
        
        .lst-kix_u8qyevnq6b8z-6>li:before {
            content: "\0025cf  "
        }
        
        ul.lst-kix_499osa7qbd7v-8 {
            list-style-type: none
        }
        
        .lst-kix_jqb5klxp5pzh-1>li:before {
            content: "\0025cb  "
        }
        
        .lst-kix_n0y2tgckp6wm-7>li:before {
            content: "\0025cb  "
        }
        
        .lst-kix_jqb5klxp5pzh-5>li:before {
            content: "\0025a0  "
        }
        
        .lst-kix_jqb5klxp5pzh-7>li:before {
            content: "\0025cb  "
        }
        
        .lst-kix_9cj84dkr6l82-7>li:before {
            content: "\0025cb  "
        }
        
        ul.lst-kix_n0y2tgckp6wm-7 {
            list-style-type: none
        }
        
        ul.lst-kix_n0y2tgckp6wm-8 {
            list-style-type: none
        }
        
        ul.lst-kix_n0y2tgckp6wm-5 {
            list-style-type: none
        }
        
        ul.lst-kix_n0y2tgckp6wm-6 {
            list-style-type: none
        }
        
        ul.lst-kix_n0y2tgckp6wm-3 {
            list-style-type: none
        }
        
        ul.lst-kix_n0y2tgckp6wm-4 {
            list-style-type: none
        }
        
        ul.lst-kix_n0y2tgckp6wm-1 {
            list-style-type: none
        }
        
        ul.lst-kix_n0y2tgckp6wm-2 {
            list-style-type: none
        }
        
        .lst-kix_jqb5klxp5pzh-3>li:before {
            content: "\0025cf  "
        }
        
        ul.lst-kix_n0y2tgckp6wm-0 {
            list-style-type: none
        }
        
        .lst-kix_oc2qtkhaobz5-0>li:before {
            content: "\0025cf  "
        }
        
        .lst-kix_oc2qtkhaobz5-2>li:before {
            content: "\0025a0  "
        }
        
        .lst-kix_xi87yt4r580-3>li:before {
            content: "\0025cf  "
        }
        
        .lst-kix_oc2qtkhaobz5-4>li:before {
            content: "\0025cb  "
        }
        
        .lst-kix_oc2qtkhaobz5-8>li:before {
            content: "\0025a0  "
        }
        
        .lst-kix_xi87yt4r580-5>li:before {
            content: "\0025a0  "
        }
        
        .lst-kix_xi87yt4r580-7>li:before {
            content: "\0025cb  "
        }
        
        .lst-kix_oc2qtkhaobz5-6>li:before {
            content: "\0025cf  "
        }
        
        .lst-kix_vd10u5vwle1-0>li:before {
            content: "\0025cf  "
        }
        
        ul.lst-kix_vd10u5vwle1-3 {
            list-style-type: none
        }
        
        ul.lst-kix_vd10u5vwle1-4 {
            list-style-type: none
        }
        
        ul.lst-kix_vd10u5vwle1-5 {
            list-style-type: none
        }
        
        ul.lst-kix_vd10u5vwle1-6 {
            list-style-type: none
        }
        
        ul.lst-kix_vd10u5vwle1-0 {
            list-style-type: none
        }
        
        ul.lst-kix_vd10u5vwle1-1 {
            list-style-type: none
        }
        
        ul.lst-kix_vd10u5vwle1-2 {
            list-style-type: none
        }
        
        ul.lst-kix_vd10u5vwle1-7 {
            list-style-type: none
        }
        
        ul.lst-kix_vd10u5vwle1-8 {
            list-style-type: none
        }
        
        .lst-kix_g6pmg0xyszru-5>li:before {
            content: "\0025a0  "
        }
        
        .lst-kix_nnmcgjk4xlmi-1>li:before {
            content: "-  "
        }
        
        .lst-kix_g6pmg0xyszru-7>li:before {
            content: "\0025cb  "
        }
        
        .lst-kix_nnmcgjk4xlmi-3>li:before {
            content: "-  "
        }
        
        .lst-kix_vd10u5vwle1-8>li:before {
            content: "\0025a0  "
        }
        
        ul.lst-kix_mc9cyyr48osa-1 {
            list-style-type: none
        }
        
        ul.lst-kix_mc9cyyr48osa-0 {
            list-style-type: none
        }
        
        .lst-kix_g6pmg0xyszru-1>li:before {
            content: "\0025cb  "
        }
        
        .lst-kix_nnmcgjk4xlmi-5>li:before {
            content: "-  "
        }
        
        .lst-kix_vd10u5vwle1-2>li:before {
            content: "\0025a0  "
        }
        
        .lst-kix_vd10u5vwle1-6>li:before {
            content: "\0025cf  "
        }
        
        ul.lst-kix_mc9cyyr48osa-5 {
            list-style-type: none
        }
        
        ul.lst-kix_mc9cyyr48osa-4 {
            list-style-type: none
        }
        
        ul.lst-kix_mc9cyyr48osa-3 {
            list-style-type: none
        }
        
        ul.lst-kix_mc9cyyr48osa-2 {
            list-style-type: none
        }
        
        ul.lst-kix_mc9cyyr48osa-8 {
            list-style-type: none
        }
        
        ul.lst-kix_mc9cyyr48osa-7 {
            list-style-type: none
        }
        
        .lst-kix_g6pmg0xyszru-3>li:before {
            content: "\0025cf  "
        }
        
        .lst-kix_nnmcgjk4xlmi-7>li:before {
            content: "-  "
        }
        
        ul.lst-kix_mc9cyyr48osa-6 {
            list-style-type: none
        }
        
        .lst-kix_vd10u5vwle1-4>li:before {
            content: "\0025cb  "
        }
        
        ol {
            margin: 0;
            padding: 0
        }
        
        table td,
        table th {
            padding: 0
        }
        
        .c9 {
            color: #980000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 14pt;
            font-family: "Comfortaa";
            font-style: normal
        }
        
        .c7 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 14pt;
            font-family: "Roboto Mono";
            font-style: normal
        }
        
        .c11 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 18pt;
            font-family: "Roboto Mono";
            font-style: normal
        }
        
        .c14 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 12pt;
            font-family: "Roboto Mono";
            font-style: normal
        }
        
        .c15 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 30pt;
            font-family: "Roboto Mono";
            font-style: normal
        }
        
        .c0 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 18pt;
            font-family: "Comfortaa";
            font-style: normal
        }
        
        .c2 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 14pt;
            font-family: "Roboto Mono";
            font-style: normal
        }
        
        .c1 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        .c12 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: center
        }
        
        .c6 {
            vertical-align: sub;
            font-size: 14pt;
            font-family: "Roboto Mono";
            font-weight: 400
        }
        
        .c22 {
            color: #000000;
            text-decoration: none;
            vertical-align: baseline;
            font-style: italic
        }
        
        .c13 {
            font-size: 14pt;
            font-family: "Roboto Mono";
            color: #980000;
            font-weight: 700
        }
        
        .c8 {
            font-size: 14pt;
            font-family: "Roboto Mono";
            font-weight: 400
        }
        
        .c17 {
            text-decoration: none;
            vertical-align: baseline;
            font-style: normal
        }
        
        .c18 {
            font-size: 18pt;
            font-family: "Comfortaa";
            font-weight: 700
        }
        
        .c19 {
            font-size: 13pt;
            font-family: "Roboto Mono";
            font-weight: 400
        }
        
        .c16 {
            font-size: 14pt;
            font-family: "Roboto Mono";
            font-weight: 700
        }
        
        .c24 {
            background-color: #ffffff;
            max-width: 535.5pt;
            padding: 72pt 31.5pt 58.5pt 45pt
        }
        
        .c3 {
            margin-left: 36pt;
            padding-left: 0pt
        }
        
        .c10 {
            padding: 0;
            margin: 0
        }
        
        .c4 {
            height: 11pt
        }
        
        .c20 {
            color: #980000
        }
        
        .c23 {
            margin-left: 4.5pt
        }
        
        .c5 {
            margin-left: 36pt
        }
        
        .c21 {
            vertical-align: sub
        }
        
        .title {
            padding-top: 0pt;
            color: #000000;
            font-size: 26pt;
            padding-bottom: 3pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        .subtitle {
            padding-top: 0pt;
            color: #666666;
            font-size: 15pt;
            padding-bottom: 16pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        li {
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }
        
        p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }
        
        h1 {
            padding-top: 20pt;
            color: #000000;
            font-size: 20pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        h2 {
            padding-top: 18pt;
            color: #000000;
            font-size: 16pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        h3 {
            padding-top: 16pt;
            color: #434343;
            font-size: 14pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        h4 {
            padding-top: 14pt;
            color: #666666;
            font-size: 12pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        h5 {
            padding-top: 12pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        h6 {
            padding-top: 12pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }
    